<!--Qorder Dashboard - v1.0.0-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Qorder || Menu
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href=" ../assets/css/dashboard.css?v=2.1.1" rel="stylesheet" />
  <link href=" ../assets/css/popup.css?v=2.1.1" rel="stylesheet" />

</head>

<body class="bg">
  <div class="wrapper">
    <div class="content">
      <div class="container-fluid">

        <!-- Header Resturant Name-->
        <div class="row" style="background-color:#fdd31f ;">
          <div class="col-md-4"></div>
          <div class="col-md-4 pt-4" style="text-align: center;">
            <h2>
              <i class="material-icons">local_dining</i>
              Resturant Name
            </h2>
          </div>
          <div class="col-md-4"></div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card" style="background-color: #fdd31f;">
              <div class="card-header card-header-danger">
                <h4 class="card-title ">Menu</h4>
                <p class="card-category"> What we surve </p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  {{#each listitem}}
                  <div id="accordion">
                    <div class="card" style="background-color:#fdd31f;">
                      <div class="card-header" id="headingOne"
                        style="background-color:#fdd31f;padding: 0px !important;"></div>

                      <button class="btn pull-left " id="yellow" data-toggle="collapse" data-target="#{{this.Name}}"
                        aria-expanded="true" aria-controls="collapseOne">
                        {{this.Name}}
                        <i class="material-icons ml-5" id="down">keyboard_arrow_down</i>
                      </button>

                    </div>
                    <div id="{{this.Name}}" class="collapse" aria-labelledby="headingOne"
                      style="background-color: #fdd31f;" data-parent="#accordion">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Menu</th>
                            <th scope="col">Serves</th>
                            <th scope="col">Price</th>
                            <th scope="col">QTY</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{#each this.item}}
                          <tr id={{this.ItemID._id}}>
                            <td hidden>{{this.ItemID._id}}</td>
                            <td>{{this.ItemID.ItemName}}</td>
                            <td>{{this.ItemID.serve}}</td>
                            <td>{{this.ItemID.price}}</td>
                            <td>
                              <div class="input-group" id="ig">
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default btn-number" id="plus" data-type="plus"
                                    data-field="{{this.ItemID.ItemName}}">
                                    +
                                  </button>
                                </span>
                              </div>
                              <div class="input-group">
                                <input type="number" name="{{this.ItemID.ItemName}}" class="form-control input-number"
                                  value="0" min="0" max="10" style="pointer-events: none;">
                              </div>
                              <div class="input-group">
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default btn-number" data-type="minus"
                                    data-type="minus" data-field="{{this.ItemID.ItemName}}" disabled=true>
                                    -
                                  </button>
                                </span>
                              </div>
                    </div>
                    </td>
                    </tr>
                    {{/each}}
                    </tbody>
                    </table>
                  </div>
                </div>
                {{/each}}

              </div>
            </div>
          </div>
        </div>
      </div>
      <!--pop up button-->
      <button class="open-button " onclick="openForm()">QORDER</button>
      <!--Pop up screen-->
      <div class="chat-popup" id="myForm">
        <form action="/customer/order" class="form-container" method="POST" onsubmit="orderformsubmit()">

          <h2 style="background-color: #fdd31f;">QORDER</h2>

          <b>Your order</b>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Menu</th>
                <th scope="col">Price</th>
                <th scope="col">Qty</th>
              </tr>
            </thead>
            <tbody class="orderlist">
            </tbody>
          </table>
          <button class="btn" type="submit">ORDER</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
      </div>
      <!---->

    </div>


    <!--   Core JS Files   -->
    <script src="/assets/js/order.js"></script>
    <script>

    </script>
    <script src=" ../assets/js/core/jquery.min.js"></script>
    <script src=" ../assets/js/core/popper.min.js"></script>
    <script src=" ../assets/js/core/bootstrap-design.min.js"></script>
    <script src=" ../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Plugin for the momentJs  -->
    <script src=" ../assets/js/plugins/moment.min.js"></script>
    <!--  Plugin for Sweet Alert -->
    <script src=" ../assets/js/plugins/sweetalert2.js"></script>
    <!-- Forms Validations Plugin -->
    <script src=" ../assets/js/plugins/jquery.validate.min.js"></script>
    <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src=" ../assets/js/plugins/jquery.bootstrap-wizard.js"></script>
    <script src=" ../assets/js/plugins/jquery.dataTables.min.js"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src=" ../assets/js/plugins/bootstrap-tagsinput.js"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src=" ../assets/js/plugins/jasny-bootstrap.min.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src=" ../assets/js/plugins/jquery-jvectormap.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src=" ../assets/js/plugins/nouislider.min.js"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <!-- Library for adding dinamically elements -->
    <script src=" ../assets/js/plugins/arrive.min.js"></script>
    <!-- Chartist JS -->
    <script src=" ../assets/js/plugins/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src=" ../assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src=" ../assets/js/dashboard.js?v=2.1.1" type="text/javascript"></script>
    <script src=" ../assets/js/popup.js?v=2.1.1" type="text/javascript"></script>
    <script>

      $('.btn-number').click(function (e) {
        e.preventDefault();

        fieldName = $(this).attr('data-field');
        type = $(this).attr('data-type');
        var input = $("input[name='" + fieldName + "']");
        var currentVal = parseInt(input.val());
        if (!isNaN(currentVal)) {

          if (type == 'minus') {
            if (currentVal > input.attr('min')) {
              input.val(currentVal - 1).change();
            }
            if (parseInt(input.val()) == input.attr('min')) {
              $(this).attr('disabled', true);
            }
          } else if (type == 'plus') {
            if (currentVal < input.attr('max')) {
              input.val(currentVal + 1).change();
            }
            if (parseInt(input.val()) == input.attr('max')) {
              $(this).attr('disabled', true);
            }
          }
        } else {
          input.val(0);
        }
      });


      $('.input-number').change(function (e) {

        minValue = parseInt($(this).attr('min'));
        maxValue = parseInt($(this).attr('max'));
        valueCurrent = parseInt($(this).val());
        id = e.target.parentElement.parentElement.parentElement.parentElement.children[0].innerText
        itemname = e.target.parentElement.parentElement.parentElement.parentElement.children[1].innerText
        price = e.target.parentElement.parentElement.parentElement.parentElement.children[3].innerText

        name = $(this).attr('name');
        if (valueCurrent >= minValue) {
          $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
        } else {
          alert('Sorry, the minimum value was reached');
          $(this).val($(this).data('oldValue'));
        }
        if (valueCurrent <= maxValue) {
          $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
        } else {
          alert('Sorry, the maximum value was reached');
          $(this).val($(this).data('oldValue'));
        }

        if (valueCurrent == 0) {
          let orderlist = document.querySelector('.orderlist')
          let oldtr = document.getElementById(itemname)
          oldtr.remove()
        }
        if (valueCurrent > 0) {


          if (valueCurrent == 1) {
            let oldtr = document.getElementById(itemname)
            if (!oldtr) {
              let orderlist = document.querySelector('.orderlist')
              let tr = document.createElement('tr')
              tr.id = itemname
              let td = document.createElement('td')
              td.setAttribute('hidden', 'hidden')
              td.innerHTML = '<input type="text" name="id" required value="' + id + '">'
              tr.appendChild(td)
              td = document.createElement('td')
              td.innerText = itemname
              tr.appendChild(td)
              td = document.createElement('td')
              td.innerText = price
              tr.appendChild(td)
              td = document.createElement('td')
              td.innerHTML = '<input type="number" name="Qty" class="ïnputform" style="width: 50px;" required disabled value="' + valueCurrent + '" >'
              tr.appendChild(td)
              orderlist.appendChild(tr)
            } else {
              let orderlist = document.querySelector('.orderlist')
              let tr = document.createElement('tr')
              tr.id = itemname
              let td = document.createElement('td')
              td.setAttribute('hidden', 'hidden')
              td.innerHTML = '<input type="text" name="id" required value="' + id + '">'
              tr.appendChild(td)
              td = document.createElement('td')
              td.innerText = itemname
              tr.appendChild(td)
              td = document.createElement('td')
              td.innerText = price
              tr.appendChild(td)
              td = document.createElement('td')
              td.innerHTML = '<input type="number" name="Qty" class="ïnputform" style="width: 50px;" required disabled value="' + valueCurrent + '" >'
              tr.appendChild(td)
              orderlist.replaceChild(tr, oldtr)
            }

          } else {
            let oldtr = document.getElementById(itemname)
            let orderlist = document.querySelector('.orderlist')
            let tr = document.createElement('tr')
            tr.id = itemname
            let td = document.createElement('td')
            td.setAttribute('hidden', 'hidden')
            td.innerHTML = '<input type="text" name="id" required value="' + id + '">'
            tr.appendChild(td)
            td = document.createElement('td')
            td.innerText = itemname
            tr.appendChild(td)
            td = document.createElement('td')
            td.innerText = price
            tr.appendChild(td)
            td = document.createElement('td')
            td.innerHTML = '<input type="number" name="Qty" class="ïnputform" style="width: 50px;" required disabled value="' + valueCurrent + '" >'
            tr.appendChild(td)
            orderlist.replaceChild(tr, oldtr)
          }
        }
      });



      $(document).ready(function () {
        $().ready(function () {


          $sidebar = $('.sidebar');

          $sidebar_img_container = $sidebar.find('.sidebar-background');

          $full_page = $('.full-page');

          $sidebar_responsive = $('body > .navbar-collapse');

          window_width = $(window).width();

          fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

          if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
            if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
              $('.fixed-plugin .dropdown').addClass('open');
            }

          }

          $('.fixed-plugin a').click(function (event) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }

          });

          $('.fixed-plugin .active-color span').click(function () {
            $full_page_background = $('.full-page-background');

            $(this).siblings().removeClass('active');
            $(this).addClass('active');

            var new_color = $(this).data('color');

            if ($sidebar.length != 0) {
              $sidebar.attr('data-color', new_color);
            }

            if ($full_page.length != 0) {
              $full_page.attr('filter-color', new_color);
            }

            if ($sidebar_responsive.length != 0) {
              $sidebar_responsive.attr('data-color', new_color);
            }
          });

          $('.fixed-plugin .background-color .badge').click(function () {
            $(this).siblings().removeClass('active');
            $(this).addClass('active');

            var new_color = $(this).data('background-color');

            if ($sidebar.length != 0) {
              $sidebar.attr('data-background-color', new_color);
            }
          });

          $('.fixed-plugin .img-holder').click(function () {
            $full_page_background = $('.full-page-background');

            $(this).parent('li').siblings().removeClass('active');
            $(this).parent('li').addClass('active');


            var new_image = $(this).find("img").attr('src');

            if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
              $sidebar_img_container.fadeOut('fast', function () {
                $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                $sidebar_img_container.fadeIn('fast');
              });
            }

            if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
              var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

              $full_page_background.fadeOut('fast', function () {
                $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                $full_page_background.fadeIn('fast');
              });
            }

            if ($('.switch-sidebar-image input:checked').length == 0) {
              var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
              var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
            }

            if ($sidebar_responsive.length != 0) {
              $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
            }
          });

          $('.switch-sidebar-image input').change(function () {
            $full_page_background = $('.full-page-background');

            $input = $(this);

            if ($input.is(':checked')) {
              if ($sidebar_img_container.length != 0) {
                $sidebar_img_container.fadeIn('fast');
                $sidebar.attr('data-image', '#');
              }

              if ($full_page_background.length != 0) {
                $full_page_background.fadeIn('fast');
                $full_page.attr('data-image', '#');
              }

              background_image = true;
            } else {
              if ($sidebar_img_container.length != 0) {
                $sidebar.removeAttr('data-image');
                $sidebar_img_container.fadeOut('fast');
              }

              if ($full_page_background.length != 0) {
                $full_page.removeAttr('data-image', '#');
                $full_page_background.fadeOut('fast');
              }

              background_image = false;
            }
          });

          $('.switch-sidebar-mini input').change(function () {
            $body = $('body');

            $input = $(this);

            if (md.misc.sidebar_mini_active == true) {
              $('body').removeClass('sidebar-mini');
              md.misc.sidebar_mini_active = false;

              $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

            } else {

              $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

              setTimeout(function () {
                $('body').addClass('sidebar-mini');

                md.misc.sidebar_mini_active = true;
              }, 300);
            }

            var simulateWindowResize = setInterval(function () {
              window.dispatchEvent(new Event('resize'));
            }, 180);

            setTimeout(function () {
              clearInterval(simulateWindowResize);
            }, 1000);

          });
        });
      });
    </script>
</body>

</html>